{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Live Stream Room</title>
    <link href="{% static 'css/pages/content-live-stream-room.css' %}" rel="stylesheet" />
  </head>
  <body data-room-name="{{ room_name }}" data-role="{{ role }}">
    <div id="root"></div>
    <script src="https://unpkg.com/@zegocloud/zego-uikit-prebuilt/zego-uikit-prebuilt.js"></script>
    <script src="{% static 'js/pages/content-live-stream-room.js' %}"></script>
  </body>
</html>
